/* Page */
ul,ol,li,dl{border:0;outline:none;margin:0;padding:0;}
ul, ul li{list-style: none;text-align:left;}
ul.text {margin-bottom: 1em; line-height: 1.5em;}
.text-center {text-align: center;}
.wrap { margin: 0 auto;}
.demo-container {padding: 0px; float: left; width: 100%;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}
.dcjq-count {float: right;}