/* background-image:url(../images/menus/bg.jpg); */
body {
		margin-top:0px;margin-bottom:0px; background:#E7E0D2;
		
		
	}
.bodyadmin	
{
	background-color:#fff;
	
	}
td {
	font-family:Arial;
	font-size: 12px;
	}
	
.button_input {
	
}
.button_signin
{

}
h2{color:#fff;}
.button_search
{

}

.textbox {
	background-image:url(form_bg.jpg)/*tpa=http://indephanoi.com/images/menus/form_bg.jpg*/;
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	height:25px;

}

.NarrowInput /*Customer login*/
{
	
}

select
{
	
}
option
{
	
} 
span{color:#000; font-size: 13px;line-height:25px;}
h4{padding-bottom:3px;margin-bottom:0px;}
.ServiceTypes {color:Blue}
.ServiceTypes:link {color:Blue; }
.ServiceTypes:visited {color: Blue}
.ServiceTypes:hover {color: Blue}

.ModuleTitle {font: bold 12px Arial; color:#fff;}
.ModuleTitle:link {color:#fff; }
.ModuleTitle:visited {color: #fff}
.ModuleTitle:hover {color: #ffff00}

.ModuleTitle1 {font: bold 12px Arial; color:#fff; }
.ModuleTitle1:link {color:#fff; }
.ModuleTitle1:visited {color: #fff}
.ModuleTitle1:hover {color: red;}

.ModuleTitle_hot {font: bold 12px Arial; color:#fff; }
.ModuleTitle_hot :link {color:#fff;  }
.ModuleTitle_hot :visited {color: #fff;}
.ModuleTitle_hot :hover {color: red;}

.ModuleTitle2 {font: bold 12px Arial; color:#fff; }
.ModuleTitle2:link {color:#fff; }
.ModuleTitle2:visited {color: #fff}
.ModuleTitle2:hover {color: #fff}

.TitleLink{text-decoration:none;color:#0C6E04;font-size: 13px;font-weight:bold; padding-left:5px;line-height:20px;}
.TitleLink:link {color: #0C6E04}
.TitleLink:hover {color: #ff0000}
.TitleLink:visited {color: #0C6E04}
.boxtt_text1{font-weight:bold; line-height:30px;}
.tdheader{height:35px;padding:0px 0px 0px 10px; background: url(bar_in.jpg)/*tpa=http://indephanoi.com/images/menus/bar_in.jpg*/ repeat-x;}
.tdBanner {background:#9c020c url(BannerVietColor2012.jpg)/*tpa=http://indephanoi.com/images/companies/BannerVietColor2012.jpg*/ no-repeat; text-align:right;width:1000px;}
.divlienhetructuyen{width:230px;float:right;text-align:left; color:#ffff00; font-size:16px; line-height:27px;height:180px;}
.hotline
{
	color:#ffff00;font-size:22px;
	text-shadow: 1px 1px #ff0000;
	font-weight:bold;	
}
.tblMaster{background:#fff ; }
.tblheader{  border:solid 0px #182D88; width:100%; }
.tblheader2{  border:solid 1px #fafafa; width:100%; background-color:#BFCFFF;}
.tblheader3{  border:solid 0px #182D88; width:100%; background-color:#fff}

.tblheader_search{  width:100%; background-color:#5DAF0C}

.tdspace{height:5px;}

.tdLeft {padding:0px 7px 0px 0px;border-right:dotted 0px #05a6c2; }
.tdMain {padding:0px 0px 0px 0px;vertical-align:top;vertical-align:top;background:#DFF0FA}
.tdRight{padding:0px 0px 0px 7px;vertical-align:top;
	
	}


.tdmenu{width: 960px;
	margin-bottom: 0px;
	padding: 0 5px 10 5px;
	background: url(navigation-bg2.jpg)/*tpa=http://indephanoi.com/images/menus/navigation-bg2.jpg*/ no-repeat center top;

	}

.tdFooter{border-top:solid 0px #ff0000; background-color:#182D88}
.tdfooter span{color:white;font-size:12px;}
.tdFooter a:link{color:red;}
.tdHeader_bg{padding:5px 15px 0px 0px;}

.tdpadding{padding:5px 5px 5px 5px;line-height:25px;}
.tdproduct{padding:5px 5px 5px 5px;vertical-align:top; text-align:left;}
.tdTitleNews {padding:3px 3px 3px 3px;}
.ProductItemStyle{vertical-align:top; width:33%;border:dotted 0px #aaa;}

/* horizotal menu style 

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.horizotalmenu{

list-style: none;
	margin: 0;
	padding: 0;
}
.menuItemStyle
{
	
	display: inline;
	margin: 0px;


}
.LastItem a{

	}

.horizotalmenu a{
}

.horizotalmenu a:link {	height:20px;line-height:20px;
	display: block;
	float: left;
	padding: 5px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
	background: url(navigation-separator.png)/*tpa=http://indephanoi.com/images/menus/navigation-separator.png*/ no-repeat right center;}
.horizotalmenu  a:visited { height:20px;line-height:20px;
	display: block;
	float: left;
	padding: 5px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
	background: url(navigation-separator.png)/*tpa=http://indephanoi.com/images/menus/navigation-separator.png*/ no-repeat right center;}
.horizotalmenu a:hover{
color:#555;
	background: url(navigation-hover.png)/*tpa=http://indephanoi.com/images/menus/navigation-hover.png*/ repeat-x left top;

}

.horizotalmenu .current a{ /*currently selected tab*/
color:  #FC0301;



}

.horizotalmenu .current a:visited{ /*currently selected tab*/
color:  #FC0301;
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
text-transform:uppercase;
}
.horizotalmenu .current{ /*currently selected tab*/
background-image: url(line_driving.jpg)/*tpa=http://indephanoi.com/Images/line_driving.jpg*/;
background-repeat: no-repeat;
background-position:right;

}

/*End horizotal menu*/


/* Vertical menu */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.Verticalmenu{


font-family: Arial;
font-size:12px;

}

* html .Verticalmenu{ /*IE 6 only */
width: 200px; /*Box model bug: 180px minus all left and right paddings for #blueblock */
}

.Verticalmenu tr{
list-style: none;
margin: 0;
padding: 0;

}

.Verticalmenu td {

line-height:15px;
border-right:solid 1px #cccccc;
}

.Verticalmenu td a{
display: block;
padding: 5px 5px 5px 8px;

font-weight:bold;

text-decoration: none;
width: 100%;
font-size:12px;
font-family: Arial;

padding-left:18px;
background: transparent url(arrow_yellow.png)/*tpa=http://indephanoi.com/Images/Icons/arrow_yellow.png*/ no-repeat center left;
}

html>body .Verticalmenu td a{ /*Non IE6 width*/
width: auto;
}

.Verticalmenu td a:visited{  text-decoration:none;background: transparent url(arrow_yellow.png)/*tpa=http://indephanoi.com/Images/Icons/arrow_yellow.png*/ no-repeat center left;}
.Verticalmenu td a:hover {



background: transparent url(arrow_yellow.png)/*tpa=http://indephanoi.com/Images/Icons/arrow_yellow.png*/ no-repeat center left;

}


/* End Vertical menu */


.textjustify{text-align:justify;  padding-right:11px; line-height:20px;}

a:link { color:#182D88; text-decoration:none;}
a:visited { color:#182D88; text-decoration:none;}
a:hover { color:#ff0000; text-decoration:none;}

/* Hien thi san pham o phan` phong to, thu nho*/
.box1bgnew{
	background-color: #FFFFF0;
}
.box1{
	background-image: url(th1_box12.gif)/*tpa=http://indephanoi.com/Images/images/th1_box12.gif*/;
	background-repeat: repeat-x;
}
.box2{
	background-image: url(th1_box14.gif)/*tpa=http://indephanoi.com/Images/images/th1_box14.gif*/;
	background-repeat: repeat-y;
}
.box3{
	background-image: url(th1_box16.gif)/*tpa=http://indephanoi.com/Images/images/th1_box16.gif*/;
	background-repeat: repeat-y;
}
.box4{
	background-image: url(th1_box18.gif)/*tpa=http://indephanoi.com/Images/images/th1_box18.gif*/;
	background-repeat: repeat-x;
}


/* Admin CSS */
.admin_bg1 {
	background-image: url(admin_bg1.gif)/*tpa=http://indephanoi.com/Admin/Images/admin_bg1.gif*/;
	height: 233px;
	width: 614px;
}
.date_color{color:#C39E6D}
.menu
{
	font-weight:bold; font-size:8pt; text-align:right; 
	border-color:#ffffff; border:solid 3px #ffffff;
} 
 a.textmenuadmin:hover {color:#666; text-decoration:none;}
 a.textmenuadmin:link, a.textmenuadmin:visited {color:#666; text-decoration:none;}
 
.tdleftbuttonadmin {background-image: url(leftbuttonadmin.gif)/*tpa=http://indephanoi.com/Images/Images/leftbuttonadmin.gif*/; height:40px; width:15px;}
.tdcenterbuttonadmin {background-image: url(centerbuttonadmin.gif)/*tpa=http://indephanoi.com/Images/Images/centerbuttonadmin.gif*/; height:40px;}
.tdrightbuttonadmin {background-image: url(rightbuttonadmin.gif)/*tpa=http://indephanoi.com/Images/Images/rightbuttonadmin.gif*/; height:40px; width:15px;}

.addmodule
{
	font-weight:bold; 
	border-color:#f5f5f5; border:solid 1px #f5f5f5; background-color:#f5f5f5
}

.copyright
{
	
	 height:40px;
	
}
.copyright span {}

a.HeaderTypeLink, a.HeaderTypeLink:visited 
{
	color:#E17100;padding-bottom:5px;
}
label{color:#000}

.orderbutton:link
{

}
.orderbutton:hover
{

}
.ModulePriceHeaderStyle{color:#fff; font-weight:bold; background-color:#42A0FF}
.ModulePriceItemStyle{color:#990000;background-color:#FFCC33;}
.HeaderTypeText {text-transform:uppercase; padding-bottom:13px;}
hr{color:orange; size: 1px}
.tblProduct { background-color:#fff}

.ChildrenType {padding-left: 10px; color:#FFFFCC;font-weight:normal;}

.PriceStyle span{color:Blue;}


.lnkproductName,.lnkproductName:link
{
	font-weight:bold;padding-left:6px;padding-bottom:5px;padding-top:6px;
}
.imgBoder{border:solid 1px orange;}
.paging{letter-spacing:2px;font-size:15px;}
.email:link {color:Orange}
.email:hover {color:Yellow}
.email:visited {color:Orange}

.hotrotructuyen{margin-left:2px; color:Green;}

/* Exchange Rate styles*/
.tblRate{width:180;}
.tblRate th {background-color:#007946;font-size:10px;color:#fff;height:23px;}
.tblRate td {height:20px;font-size:9px;}
.odd{background-color:#E8ECEF;}
.even{background-color:#eeeeee;}
.code{background-color:#fafafa; width:20px}

/*-----------------------*/
.grdItemStyle,.grdItemStyle a ,.grdItemStyle a:visited 
{
	color:#fff;
	background-color:#370003;
}

.grdItemStyleAlter,.grdItemStyleAlter a,.grdItemStyleAlter a:visited 
{
	color:#370003;
	background-color:#fff;
}
.grdItemStyle a:hover{color:#fff; } 
.imgAvatarAlbum
{
	border:solid 1px #0099ff;
}
.imgAvatarAlbum:hover
{
	border:solid 1px #370003;
}
.tdDescription
{
	font-weight:bold;
}
.ContentView div, .ContentView p{ line-height:25px;}
